<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12091508907-lrg0he188mlbdvosbr0q3lkmvharuv9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12091508907-lrg0he188mlbdvosbr0q3lkmvharuv9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBvvZirzdteV0E_dbT6fKC-GbLY37GoUXs</string>
	<key>GCM_SENDER_ID</key>
	<string>12091508907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renaldhif.airplaneAppBwa</string>
	<key>PROJECT_ID</key>
	<string>airplaneappbwa</string>
	<key>STORAGE_BUCKET</key>
	<string>airplaneappbwa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12091508907:ios:ee66e0c90459630cab0fee</string>
</dict>
</plist>